.header{
    display: flex;
    justify-content: space-between;
    background-color: #3d1be0;
    align-items: center;
    height: 60px;
    padding: 0 20px;

    &__logo{
h3{
    color: white;
    font-weight: 400;
}
    }

}